<!DOCTYPE html>
<html>
<head>
  <title>MySimpleRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Josephine Example</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <div class="alert alert-success" role="alert">This is some alert message</div>
  </div>
  <div class="page-header">
    <h1>Example page header</h1>
  </div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>

      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>

        <div class="jumbotron">
          How do I make this huge???what happens here?
        <div class="container">
        ...This is some text
        </div>
        </div>

        <div class="panel Some Panel panel-primary">...</div>

        <div class="row">
          <div class="col-md-6">
            This is text inside the first column of the row
          </div>
          <div class="col-md-6">
            This is text inside the second column of the row
          </div>
        </div>

        <div class="well well-lg">Hi, am in large well !!</div>

        <div class="row">
          <div class="col-md-4">
            text in my first column.text-right
          </div>
          <div class="col-md-4">
            text in my middle column
          </div>
          <div class="col-md-4">
            text in my last column
          </div>

          <table class="table table-bordered table-striped">
             <caption>Striped Table Layout</caption>
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>City</th>
                     
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Tanmay</td>
                     <td>Bangalore</td>

                  </tr>
                  <tr>
                     <td>Sachin</td>
                     <td>Mumbai</td>

                  </tr>
               </tbody>...
          </table>


        </div>
</body>
</html>
